In [71]:
import pandas as pd
import numpy as np

In [72]:
df = pd.DataFrame({'col1':[20210701231101,20210701231202,20210701231302],'col2':['A', 'B', 'C']})

In [73]:
df

             col1 col2
0  20210701231101    A
1  20210701231202    B
2  20210701231302    C

In [74]:
print(df.dtypes)

col1     int64
col2    object
dtype: object

In [75]:
df["col1"] = df["col1"].astype('str')

In [76]:
print(df.dtypes)

col1    object
col2    object
dtype: object

In [77]:
df["날짜"] = df['col1'].str[0:8]

In [78]:
df["날짜"]

0    20210701
1    20210701
2    20210701
Name: 날짜, dtype: object

In [87]:
df["시간"] = df["col1"].str[8:]

In [88]:
df["시간"]

0    231101
1    231202
2    231302
Name: 시간, dtype: object

In [89]:
df

             col1 col2        날짜      시간
0  20210701231101    A  20210701  231101
1  20210701231202    B  20210701  231202
2  20210701231302    C  20210701  231302

In [92]:
df["Time"] = pd.to_datetime(df["col1"])

In [93]:
df

             col1 col2        날짜      시간                Time
0  20210701231101    A  20210701  231101 2021-07-01 23:11:01
1  20210701231202    B  20210701  231202 2021-07-01 23:12:02
2  20210701231302    C  20210701  231302 2021-07-01 23:13:02